@charset 'UTF-8';

/* section {
  position: relative;
} */

/* #video-section {
  height: 100vh;
  width: 100vw;
} */

/* #video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */

.container-mensagemvideo {
  align-content: flex-start;
  align-items: flex-start;
}

.container-mensagemvideo > h1 {
  font-size: 4.35rem;
  font-weight: 600;
  line-height: 7rem;
  text-align: justify;
  transform: translate(4rem);
}

.container-mensagemvideo > p {
  font-size: 1.2rem;
  text-align: justify;
  transform: translate(4rem);
}

.whatzapp-button {
  transform: translate(4rem);
}
