@charset 'UTF-8';

#burguer {
  position: absolute;
  top: -0.2rem;
  right: 9rem;
  cursor: pointer;
}

.container-mensagemvideo {
  width: 60vw;
  height: 70vh;
  align-content: flex-start;
  align-items: flex-start;
  transform: translate(-15rem, -5rem);
}

.container-mensagemvideo > h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: justify;
}

.container-mensagemvideo > p {
  font-size: 1rem;
  text-align: justify;
}

.whatzapp-button > p {
  font-size: 1.18rem;
}
