@charset 'UTF-8';

#burguer {
  position: absolute;
  top: -0.2rem;
  right: 9rem;
  cursor: pointer;
}

/* section {
  position: relative;
} */

/* #video-section {
  height: 100vh;
  width: 100vw;
} */

/* #video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */

.container-mensagemvideo {
  width: 80vw;
  height: 70vh;
  align-content: flex-start;
  align-items: flex-start;
  transform: translate(-4.1rem, -6rem);
}

.container-mensagemvideo > h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: justify;
}

.container-mensagemvideo > p {
  font-size: 1.2rem;
  text-align: justify;
}

.whatzapp-button > p {
  font-size: 1.18rem;
}
