@charset 'UTF-8';

#burguer {
  position: absolute;
  top: -0.2rem;
  right: 5rem;
  cursor: pointer;
}

.container-mensagemvideo {
  width: 100vw;
  transform: translate(-10px, -70px);
}

.container-mensagemvideo > h1 {
  font-size: 2.25rem;
}

.container-mensagemvideo > p {
  font-size: 0.7rem;
}

.whatzapp-button > p {
  font-size: 1.18rem;
}
