@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura LT PanEuropean", sans-serif;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

header {
  position: relative;
  height: 2rem;
  background-image: linear-gradient(
    to left,
    #ca8a04,
    #eab308,
    #facc15,
    #fde047,
    #facc15,
    #eab308,
    #ca8a04
  );
}

#burguer {
  position: absolute;
  top: -0.2rem;
  right: 3rem;
  cursor: pointer;
}

/* header > h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
} */

header > nav {
  width: 100vw;
  display: none;
  transform: translateY(2rem);
  z-index: 1;
}

header > nav > ul {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom, #a1a1aa, #71717a, #52525b);
}

header > nav > ul > li {
  list-style-type: none;
}

header > nav > ul > li > a {
  font-size: 1.8rem;
  font-weight: 100;
  color: #fafafa;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  text-decoration: none;
  border-radius: 7rem;
  letter-spacing: 0.1rem;
}

header > nav > ul > li > a:hover {
  border: 0.2rem solid #ca8a04;
  background-color: #ca8b043d;
  transition: 0.3s;
}

section {
  height: 96vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  border-bottom: 1rem solid #ccc;
  overflow: hidden;
}

.video-section {
  /* height: 97vh;
  width: 100%;
  display: flex;
  position: relative;*/
  justify-content: center;
  align-items: center;
}

.video-section video {
  width: 100%;
  max-width: 100%; /* Impede que o vídeo ultrapasse o container */
  height: 100%;
  max-height: 100%; /* Mantém o vídeo dentro da altura da tela */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-position: 70% 10%;
}

.container-mensagemvideo {
  width: 90%;
  max-width: 90%;
  height: 50%;

  color: #fafafa; /* Cor branca para o texto */
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.container-mensagemvideo > h1 {
  font-size: 3rem;
  text-align: center; /* Centraliza o texto */
  line-height: 2.75rem;
  margin-bottom: 1rem;
}

/* span {
  display: none;
} */

.container-mensagemvideo > p {
  color: #fafafa;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center; /* Centraliza o texto */

  margin-bottom: 1.45rem;
}

.whatzapp-button {
  width: 100%;
  max-width: 15rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  background-color: #ca8a04;
  border-radius: 1rem;
}

.whatzapp-button > img {
  width: 2rem;
  margin: 0;
  padding: 0;
}
.whatzapp-button > p {
  font-size: 1rem;
  width: 50%;
}

.container-mensagemvideo > a {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}

.container-mensagemvideo > a:hover {
  background-color: #fafafa;
  color: #ca8a04;
  cursor: pointer;
  box-shadow: 0rem 0.5rem 0.4rem 0.3rem #ca8b0446;
  transition: 0.1s;
}

main > img {
  width: 5rem;
  display: none;
}

@media screen and (max-width: 394px) {
  .container-mensagemvideo > h1 {
    font-size: 2.75rem;
    flex-flow: column;
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 0.75rem;
  }

  .container-mensagemvideo > p {
    font-size: 0.85rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  /* Regras para telas a partir de 768px */

  .video-section video {
    object-position: 80% 100%;
  }

  .container-mensagemvideo {
    /* width: 90%;
    height: 40%; */
    justify-content: center;
    align-items: center;
  }

  .container-mensagemvideo h1 {
    font-size: 3.75rem;
    text-align: justify;
    line-height: 3.75rem;
    margin-bottom: 1.45rem;
  }

  .container-mensagemvideo p {
    font-size: 1rem;
    text-align: justify;
  }

  .whatzapp-button > p {
    font-size: 1.18rem;
  }
}

@media screen and (min-width: 480px) {
  /* Regras para telas a partir de 480px */
  .video-section video {
    object-position: 77% 80%;
  }

  .container-mensagemvideo {
    justify-content: flex-end;
    align-items: center;
  }

  .container-mensagemvideo > h1 {
    font-size: 3.55rem;
    flex-flow: column;
    text-align: center;
    line-height: 3.45rem;
    margin-bottom: 1.45rem;
  }

  .container-mensagemvideo > p {
    font-size: 1rem;
    font-weight: 400;
  }

  .whatzapp-button > p {
    font-size: 1.18rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Regras para telas a partir de 1024px */
  header {
    height: 2.25rem;
  }

  header > nav {
    display: block;
    transform: translateY(-0.3rem);
  }

  header > nav > ul {
    width: auto;
    background: none;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
  }

  header > nav > ul > li > a {
    color: black;
    font-weight: 500;
    font-size: 1.55rem;
    padding: 0rem 3rem;
  }

  header > nav > ul > li > a:hover {
    background-color: #ca8b043d;
    transition: 0.3s;
    padding: ;
  }

  #burguer {
    display: none;
  }

  .video-section video {
    object-position: 80% 40%;
  }

  .container-mensagemvideo {
    /* width: 90%;
    height: 40%; */
    /* flex-flow: column nowrap; */
    /* justify-content: flex-end;
    align-items: flex-start; */
  }

  .container-mensagemvideo h1 {
    margin-bottom: 1.45rem;
  }

  .whatzapp-button > p {
    font-size: 1.18rem;
  }
}
